{% extends 'base.html.twig' %}

{% block body %}
    <h1>Luminosidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ luminosidad.id }}</td>
            </tr>
            <tr>
                <th>Sensor</th>
                <td>{{ luminosidad.sensor }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ luminosidad.valor }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if luminosidad.created %}{{ luminosidad.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('luminosidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('luminosidad_edit', { 'id': luminosidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
